<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/d7f4afabc2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <p> Generar Factura</p>
    </header>
    <div class="menu">
    <div class="logo">
        <img src="../assets/img/descarga.png" alt="">
    </div>
    <div class="optionsMenu">
        <div class="option">
             
     <i class="fa-solid fa-house"></i>
 <a href="./menu.html"> <h4>Inicio</h4>
 </a> 
 </div>
 <div class="option">
    <i class="fa-solid fa-file-invoice" title="Inicio"></i> 
      <i class="selected"></i>
    <a href="../views/generateInvoice.html"><h4>Generar Factura</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-business-time" title="Facturas generadas"></i>
 <a href="../views/viewInvoice.html"><h4>Facturas generadas</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-circle-user" title="Perfil"></i>
 <a href="../views/profile.html"><h4>Perfil</h4>
 </a>
 </div>
 <div class="option">
 <i class="fa-solid fa-users" title="Soporte"></i>
 <a href="../views/support.html"> <h4>Soporte</h4>
 </a>
 </div>
</div>
</div>
<main>
            <!-- NUEVA TABLA COMPLETA -->
            <h2>Detalles de la factura</h2>

            <table border="1" class="tabla-factura" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Centro de costo</th>
                        <th>Div</th>
                        <th>Dep</th>
                        <th>Rubro</th>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Vr. unitario</th>
                        <th>Imp</th>
                        <th>Sub total</th>
                        <th>Vr IVA</th>
                        <th>Vr total</th>
                    </tr>
                </thead>
                <tbody id="tablaBody">
                    <!-- Las filas nuevas se insertarán aquí con JS -->
                </tbody>
            </table>

            <br><br>

            <h3>Agregar detalle</h3>
<div class="datos">
            <label>Centro de costo: </label>
            <input type="text" id="centro"><br><br>

            <label>Cantidad: </label>
            <input type="number" id="cantidad"><br><br>

            <label>Descripción: </label>
            <input type="text" id="descripcion"><br><br>

            <label>Vr unitario: </label>
            <input type="number" id="vrUnitario"><br><br>

        </div>
            <button id="btnAgregar" type="button">Agregar a la tabla</button>
            <button id="btnModificar" type="button">Modificar</button>

            <br><br>

            <button id="btnExcel" type="button">Crear Excel</button>
            </div>


        <script src="../assets/js/main.js"></script>

</main>
</body>

</html>