<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
     <script src="https://kit.fontawesome.com/d7f4afabc2.js" crossorigin="anonymous"></script>
</head>
<body>
     <header>
        <p>Soporte</p>
    </header>
    <div class="menu">
    <div class="logo">
        <img src="../assets/img/descarga.png" alt="">
    </div>
    <div class="optionsMenu">
        <div class="option">
             
     <i class="fa-solid fa-house"></i>
 <a href="./menu.html"> <h4>Inicio</h4>
 </a> 
 </div>
 <div class="option">
    <i class="fa-solid fa-file-invoice" title="Inicio"></i> 
    <a href="../views/generateInvoice.html"><h4>Generar Factura</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-business-time" title="Facturas generadas"></i>
 <a href="../views/viewInvoice.html"><h4>Facturas generadas</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-circle-user" title="Perfil"></i>
 <a href="../views/profile.html"><h4>Perfil</h4>
 </a>
 </div>
 <div class="option">
 <i class="fa-solid fa-users" title="Soporte"></i>
  <i class="selected"></i>
 <a href="../views/support.html"> <h4>Soporte</h4>
 </a>
 </div>
</div>
</div>
<main>
    
  
    <div class="card">
        <h2>Solicitud de Soporte</h2>

        <form>

            <!-- Título -->
            <label for="titulo">Título de la solicitud:</label>
            <input type="text" id="titulo" name="titulo" placeholder="Escribe el título">

            <!-- Descripción -->
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" placeholder="Describe tu solicitud"></textarea>

            <!-- Tipo -->
            <label for="tipo">Tipo de solicitud:</label>
            <select id="tipo" name="tipo">
                <option value="">Seleccione un tipo</option>
                <option value="tecnico">Problema técnico</option>
                <option value="facturacion">Facturación</option>
                <option value="certificados">Certificados</option>
                <option value="soporte-general">Soporte general</option>
            </select>

            <!-- Fecha -->
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha">

            <!-- Botones -->
            <div class="buttons">
                <button type="button">Cancelar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>
    </div>
    
</main>
</body>

</html>