<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/d7f4afabc2.js" crossorigin="anonymous"></script>
</head>
<body>
     <header>
        <p> Facturas generadas</p>
    </header>
    <div class="menu">
    <div class="logo">
        <img src="../assets/img/descarga.png" alt="">
    </div>
    <div class="optionsMenu">
        <div class="option">
             
     <i class="fa-solid fa-house"></i>
 <a href="./menu.html"> <h4>Inicio</h4>
 </a> 
 </div>
 <div class="option">
    <i class="fa-solid fa-file-invoice" title="Inicio"></i> 
    <a href="../views/generateInvoice.html"><h4>Generar Factura</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-business-time" title="Facturas generadas"></i>
       <i class="selected"></i>
 <a href="../views/viewInvoice.html"><h4>Facturas generadas</h4>
 </a>
 </div>
 <div class="option">
     <i class="fa-solid fa-circle-user" title="Perfil"></i>
 <a href="../views/profile.html"><h4>Perfil</h4>
 </a>
 </div>
 <div class="option">
 <i class="fa-solid fa-users" title="Soporte"></i>
 <a href="../views/support.html"> <h4>Soporte</h4>
 </a>
 </div>
</div>
</div>
</body>

</html>